body{
    color: white;
    background-color: black;
}


ul {

list-style-type: MAPA DO MUNDO;


}



a{
color: white ;

}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid green;
}

.center{
    text-align: center;
}